.tag-main{
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    // margin: 0 10px 0 10px;
    font-size: 13px;
    
}

@for $i from 0 through 2{
    .tag-bg-color-#{$i}{
        text-align: center;
        padding:2px 7px;
        padding-bottom: 5px;
        border-radius: 7px;
        color: rgb(255, 255, 255);
        text-shadow: 0 0 5px black;
        transition: 0.3s;

        &:hover{
            box-shadow: inset 0 0 5px rgb(89, 89, 89);
            // background: rgba(108, 108, 108, 0.8);
        }
        
        @if $i==0{
            background: linear-gradient(to right bottom,rgb(230, 72, 72),rgb(27, 109, 209));
        }
        @else if $i==1{
            background: linear-gradient(to right bottom,rgb(79, 255, 82),rgb(27, 109, 209));
        }
        @else if $i==2{
            background: linear-gradient(to right bottom,rgb(209, 209, 45),rgb(10, 145, 12));
        }
    }
}