@import "../../styles/base.scss";
@import "../../styles/page_layout.scss";

.categories-page-card-categories{
    display: flex;
}

.categories-container{
    margin-right: 5px;
    margin-bottom: 5px;
}

.categories-page-chart-main{
    @extend .hv-center;
    margin-top:25px;
    width: 100%;
}

.categories-page-chart-block{
    height:30vh;
    width: 100%;
    max-width: 100vw;
    
}