@use '../../styles/base.scss' as *;
// @use "../../styles/page_layout.scss" as *;

@media screen and (max-width: $mobileMaxWidth) {
  .ant-drawer-body {
    overflow: hidden !important;
  }

  .header-text-center {
    font-family: 'CustomFont1';
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: auto;
  }

  .menu-header {
    background: linear-gradient(#21bdffcc, #2f67ffcc);
    height: 170px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;

    .menu-header-btn-line {
      width: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .menu-header-btn-block {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        transition: 0.3s;
        border-radius: 5px;

        &:hover {
          // background-color: rgba(255, 255, 255, 0.75);
          transform: scale(1.1);
        }
      }
    }

    .menu-header-title {
      @extend .header-text-center;

      margin-top: 10px;
      font-size: 30px;
      font-weight: bold;
    }

    .menu-header-subtitle {
      @extend .header-text-center;

      margin-top: 15px;
      font-size: 20px;
      animation: 3s text-scale;
      animation-iteration-count: infinite;
    }
  }

  @keyframes text-scale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }

  .menu-body {
    height: 80vh;
    display: flex;
    flex-direction: column;

    .foldable-content-container {
      display: flex;
      flex-direction: column;
      width: 100%;

      .submenu-container {
        display: flex;
        background-color: #c6c6c633;
        flex-direction: column;
        border-radius: 3px 3px 5px 5px;
        transition: 0.3s;
        overflow: hidden;

        &.dark {
          background-color: trasnparentize(mix($themeBackgroundColor-dark, #fcfcfc99, 95%), 0.1);
        }

        .submenu-item-container {
          display: flex;
          flex-direction: row;
          font-size: 15px;
          height: 60px;
          transition: 0.3s;
          align-items: center;
          justify-content: space-between;
          padding: 0 20px 0 30px;
          width: 100%;

          &:hover {
            background-color: rgb(215, 215, 215);
          }

          .submenu-item-label {
            font-family: 'CustomFont1';
            color: $postColor;

            &.dark {
              color: $postColor-dark;
            }
          }

          .icon-block {
            width: 20px;
            color: $postColor;
            font-size: 15px;
            // padding-top: 3px;
          }
        }
      }
    }

    .menu-body-content-container {
      // border:1px solid black;
      display: flex;
      flex-direction: row;
      font-size: 15px;
      height: 60px;
      transition: 0.3s;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px 0 20px;
      width: 100%;

      &:hover {
        background-color: rgb(215, 215, 215);
      }

      .menu-item-label {
        font-family: 'CustomFont1';
        color: $postColor;

        &.dark {
          color: $postColor-dark;
        }
      }

      .menu-body-content-container-extend {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 30px;
      }

      .icon-block {
        width: 20px;
        color: $postColor;
        font-size: 15px;
        // padding-top: 3px;
      }
    }
  }

  // 夜间模式
  .menu-header-dark {
    @extend .menu-header;
    background: linear-gradient(to bottom, #1341c0cc, #0f0f4ecc);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  .menu-body-dark {
    @extend .menu-body;

    .menu-body-content-container-dark {
      @extend .menu-body-content-container;
      color: #ffffffdd;

      &:hover {
        background-color: #1e1e6199;
      }

      .menu-body-content-container-extend {
        @extend .menu-body-content-container-extend;
      }
    }
  }
}
