@import "../../../styles/base.scss";
@import "../../../styles/page_layout.scss";

.post-card-main{
    // background-color: black;
    display: flex;
    flex-direction: column;
    font-family: "CustomFont1";
    width: 100%;

    hr{
        width: 100%;
        color: rgb(250, 250, 250);
        border: 1px dashed rgb(250, 250, 250);
    }
}

.post-card-title{
    padding-left: 10px;
    font-size: 20px;
    color: $postColor;
    font-weight: bold;
}

.post-card-content{
    color: $postColor;
}

.post-card-footer{
    color: $postColor;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}