@import "../../../../../styles/page_layout.scss";
@import "../../../../../styles/base.scss";

.top-post-card-main{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;

    .top-post-card-title{
        font-family: "CustomFont1";
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        color: rgb(174, 0, 0);
        text-shadow: 0 0 5px #ffffffaa;
    }

    .hr-twill {
        width: 80%;
		border: 0;
		padding: 3px;
		background: repeating-linear-gradient(135deg, #a2a9b6 0px, #a2a9b6 1px, transparent 1px, transparent 6px);
	}
}

.top-post-card-link-block{
    @extend .hv-center;
    font-size: 15px;
    // margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    height: 30px;

    &:hover{
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.top-post-card-link-block-dark{
    @extend .top-post-card-link-block;
    color: $postColor-dark;
    text-shadow: 0 0 1px #ffffffaa;
}