@import "../../styles/base.scss";

.hitokoto{
    color: white;
    text-shadow: 2px 2px 5px rgb(32, 32, 32);
    font-family: "CustomFont1";
    font-size: 20px;
    // animation: content-slide-in 2s steps(20) forwards;
    overflow: hidden;
    // white-space: nowrap;
    position: relative;
    text-align: center;

    &::after{
        content: '';
        position: absolute;
        right: 0;
        height: 25px;
        // animation: sprinkle-bling 1s steps(2) infinite;
    }
}

@media screen and (max-width:$mobileMaxWidth) {
    .hitokoto{
        word-break: normal;
        padding-left: 15px;
        padding-right: 15px;
    }
}

// @keyframes content-slide-in {
//     from {
//       width: 0;
//     }
//     to {
//       width: 20ch;
//     }
// }

// @keyframes sprinkle-bling {
//     from {
//       border-right: 1px solid transparent;
//     }
//     to {
//       border-right: 2px solid #000;
//     }
// }