@import "../../styles/base.scss";
@import "../../styles/page_layout.scss";

.card-main{
    @extend .hv-center;
    flex-direction: column;
    background-color: rgba(235, 235, 235, 0.75);
    width: 90%;
    height: auto;
    border-radius: 10px;
    
    //如果post后续添加标签选择器
    .card-main-text-container{
        word-break: break-all;
        padding:10px 50px 10px 50px;

    }
}

@media screen and (max-width:$mobileMaxWidth){
    .card-main{
        width: 95%;
    }
}