@import "../../styles/base.scss";

.markdown-body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    font-family: "CustomFont1";
    line-height: normal;

    .katex-html{
        display: none;
    }

    // .katex-html{
    semantics{
        font-size: 18px !important;
        margin: 5px 0 !important;
        color: $postColor !important;
    }

    .katex-display semantics{
        font-size: 23px !important;
    }
    // }
    // pre code {
    //     display: block;
    //     color: #ddd;
    //     padding: 1em;
    //     background: rgb(45,45,45);
    //     border-radius: 5px;
    // }

    hr{
        height: .25em;
        background-color: #abb8c5;
        border: 0;
        margin-top:24px;
    }

    h1,h2,h3,h4,h5{
        margin-top: 5px;
        margin-bottom:10px;
        transition: 0.3s;
        width: 100%;
        color: $postColor;

        border-bottom: 1px solid #abb8c5;

        &:hover{
            transform: scale(1.02);
        }
    }

    h1{
        font-size: 34px;
        &:before{
            content: "🖌️";
        }
    }

    h2{
        font-size: 28px;
        &:before{
            content: "✒️";
        }
    }

    h3{
        font-size: 23px;
        &:before{
            content: "🖋️";
        }
    }

    h4{
        font-size: 19px;
        &:before{
            content: "✏️";
        }
    }

    h5{
        font-size: 16px;
        &:before{
            content: "📌";
        }
    }

    p{
        margin:7px 0;
        color: $postColor;
    }

    p img{
        height: auto;
        max-width: 100%;
        border-radius: 10px;
        box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .2), 0 10px 30px -11px rgba(0, 0, 0, .6);
    }

    a{
        color:#1e90ff;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 1em;
        margin-top: 0.7em;
    }
    
    table th,
    table td {
        padding: 0.5em;
        border: 1px solid #bcbcbc;
        color: $postColor;
    }
    
    table th {
        background: #f6f8fa;
        font-weight: bold;
    }
    
    table tr:nth-child(odd){
        background-color: transparent;
    }
    
    table tr:nth-child(even){
        background-color: #f1f1f1a5;
    }
    
    ul, ol{
        padding-left: 20px;
    }

    li{
        color: $postColor;
    }
    
    blockquote{
        background-color: rgba(7, 129, 235, 0.1);
        border-left: 5px solid #1e90ff;
        margin-left: 0;
        margin-right: 0;
        padding: 10px 10px 5px 15px;
    }

    code{
        background-color: #afb8c15e;
        padding: 0 5px;
        // border-radius: 0px 0px 5px 5px;
        border-radius: 5px;
        color: rgb(9, 103, 32);
        // display: block;
    }

    pre{
        position: relative;
        display: block;
        width: 100%;
    }
    
    // pre::before{
    //     content: attr(data-lang);
    //     display: flex;
    //     font-family:Arial, Helvetica, sans-serif;
    //     font-weight: bold;
    //     width: 100%;
    //     border-bottom: 1px solid #eee;
    //     padding-bottom: 10px;
    //     justify-content: flex-end;
    // }

    pre code.hljs {
        // padding-top: 0 !important;
        display: block;
        overflow-x: auto;
        padding: 1em;
        background: rgb(45, 45, 45);
        // border-radius: 5px;
        color: #ddd;
        max-height: 90vh;

        &::-webkit-scrollbar {
            height: 6px;
            width: 0px;
        }
         
        &::-webkit-scrollbar-track {
            // background-color: #bababa;
            background: #ffffff3f;
            border-radius: 100px;
        }
         
        &::-webkit-scrollbar-thumb {
            // background-color: rgb(77, 144, 227);
            background: #ffffff46;
            // box-shadow: inset 1px 1px 3px 0 rgba(255,255,255,0.5);
            border-radius: 50px;
            transition: 0.5s;

            &:hover{
                background-color: #ffffff6b;
            }
        }
    }
  
}

.markdown-body-dark{
    @extend .markdown-body;

    .katex-html{
        display: none;
    }

    semantics{
        font-size: 20px !important;
        margin: 5px 0 !important;
        color: $postColor-dark !important;
    }

    .katex-display semantics{
        font-size: 23px !important;
    }

    hr{
        height: .25em;
        background-color: #abb8c5;
        border: 0;
        margin-top:24px;
    }

    h1,h2,h3,h4,h5{
        margin-top: 5px;
        margin-bottom:10px;
        transition: 0.3s;
        width: 100%;
        color: $postColor-dark;

        border-bottom: 1px solid #abb8c5;

        &:hover{
            transform: scale(1.02);
        }
    }

    h1{
        font-size: 34px;
        &:before{
            content: "🖌️";
        }
    }

    h2{
        font-size: 28px;
        &:before{
            content: "✒️";
        }
    }

    h3{
        font-size: 23px;
        &:before{
            content: "🖋️";
        }
    }

    h4{
        font-size: 19px;
        &:before{
            content: "✏️";
        }
    }

    h5{
        font-size: 16px;
        &:before{
            content: "📌";
        }
    }

    p{
        margin:7px 0;
        color: $postColor-dark;
    }

    p img{
        height: auto;
        max-width: 100%;
        border-radius: 10px;
        box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .2), 0 10px 30px -11px rgba(0, 0, 0, .6);
    }

    a{
        color:#29b839;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 1em;
        margin-top: 0.7em;
    }
    
    table th,
    table td {
        padding: 0.5em;
        border: 1px solid #bcbcbc;
        color: $postColor-dark;
    }
    
    table th {
        background: #4a4b51;
        font-weight: bold;
    }
    
    table tr:nth-child(odd){
        background-color: transparent;
    }
    
    table tr:nth-child(even){
        background-color: #595962a5;
    }
    
    ul, ol{
        padding-left: 20px;
    }

    li{
        color: $postColor-dark;
    }
    
    blockquote{
        background-color: rgba(41, 184, 57, 0.1);
        border-left: 5px solid rgb(41, 184, 57);
        margin-left: 0;
        margin-right: 0;
        padding: 10px 10px 5px 15px;
    }

    code{
        background-color: #d9d9d95e;
        padding: 0 5px;
        // border-radius: 0px 0px 5px 5px;
        border-radius: 5px;
        color: rgb(167, 0, 0);
        text-shadow: 0 0 2px rgba(204, 204, 204, 0.694);
        // display: block;
    }

    pre{
        position: relative;
        display: block;
        width: 100%;
    }
    
    // pre::before{
    //     content: attr(data-lang);
    //     display: flex;
    //     font-family:Arial, Helvetica, sans-serif;
    //     font-weight: bold;
    //     width: 100%;
    //     border-bottom: 1px solid #eee;
    //     padding-bottom: 10px;
    //     justify-content: flex-end;
    // }

    pre code.hljs {
        // padding-top: 0 !important;
        display: block;
        overflow-x: auto;
        padding: 1em;
        background: rgb(45, 45, 45);
        // border-radius: 5px;
        color: #ddd;
        max-height: 90vh;
        text-shadow: none;

        &::-webkit-scrollbar {
            height: 6px;
            width: 0px;
        }
         
        &::-webkit-scrollbar-track {
            // background-color: #bababa;
            background: #ffffff3f;
            border-radius: 100px;
        }
         
        &::-webkit-scrollbar-thumb {
            // background-color: rgb(77, 144, 227);
            background: #ffffff46;
            // box-shadow: inset 1px 1px 3px 0 rgba(255,255,255,0.5);
            border-radius: 50px;
            transition: 0.5s;

            &:hover{
                background-color: #ffffff6b;
            }
        }
    }
}
