@import "../../styles/page_layout.scss";
@import "../../styles/base.scss";

.loading-main{
    @extend .hv-center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    z-index: 2000;
    background: linear-gradient(rgb(56, 132, 193),#393958);

    .loading-title{
        font-size: 70px;
        color: white;
        font-family: "CustomFont1";
        animation: title-text 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    .loading-icon{
        font-size: 70px;
        color: white;
        animation: title-icon 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        margin-right: 50px;
    }

    @media screen and (max-width:$mobileMaxWidth) {
        .loading-title, .loading-icon{
            font-size: 50px;
        }
    }
}


@keyframes title-text{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes title-icon{
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}

.loading-main-dark{
    @extend .loading-main;
    background: #393958;
}