@import "../../styles/base.scss";

.site-title-box{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    max-width: 100vw;
    align-items: center;
    // text-align: center;
    justify-content: center;
}
.site-title{
    font-family: "CustomFont1";
    font-size: 60px;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    
    color:$textColor;
    animation: title 3s;
    animation-iteration-count: infinite;
}

.site-sub-title{
    margin-top: 50px;
}

//移动端标题
@media screen and (max-width:$mobileMaxWidth) {
    .site-title{
        font-size: 40px;
        transform: translateY(-5vh);
    }
}

@keyframes title{
    0%{
        color:rgb(230, 230, 230);     
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);   
    }
    50%{
        color:#fff;
        text-shadow: 0px 0px 13px rgb(37, 37, 37);
    }
    100%{
        color:rgb(230, 230, 230);
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);  
    }
}
