@import "../../styles/page_layout.scss";
@import "../../styles/base.scss";

.foot-main{
    font-family: "CustomFont1";
    display: flex;
    justify-content: center;
    background-color: rgba(211, 236, 255, 0.65);
    height: 100px;
    margin-bottom:20px;
    margin-top: auto;
    padding-top: 20px;
}