@use '../../styles/base.scss' as *;
@use '../../styles/page_layout.scss' as *;

.tags-page-card {
  width: 100%;
  margin-bottom: 25px;
}

.tags-page-card-tags {
  display: flex;
  flex-wrap: wrap;
}

.tag-container {
  margin-right: 5px;
  margin-bottom: 5px;
}

.tags-page-chart-main {
  @extend .hv-center;
  margin-top: 25px;
  width: 100%;
}

.tags-page-chart-block {
  height: 30vh;
  width: 100%;
  max-width: 100vw;
}
