@import "./styles/base.scss";

.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mobile-toolbar{
    width: 100vw;
    background-color: transparent;
    position: fixed;
    height: ($navHeight)-15;
    display: flex;
    flex-direction: row;
    z-index: 1000;
    .icon-container{
        display: flex;
        flex-direction: row;
    
        align-items: center;
        width: 50%;
    
    }
    
    .icon-block{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
        height: ($navHeight)-15;
        width: $navHeight;
        font-size: 25px;
        padding-top: 10px;
        border-radius: 5px;
    
        &:hover{
            background-color: rgba(255, 255, 255, 0.5);
        }
    }
}
@media screen and (min-width:$mobileMaxWidth) {
    .mobile-toolbar{
        display: none;
    }
}

.App{
    // background-image: url(./assets/image/bg1.webp);
    background-position: center 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    // &::-webkit-scrollbar {
    //     width: 12px;
    // }
    
    // &::-webkit-scrollbar-track {
    //     background: linear-gradient(#b7f9ff,#a3c8db);
    //     border-radius: 100px;
    // }
    
    // &::-webkit-scrollbar-thumb {
    //     background: linear-gradient(rgb(103,171,255),rgb(62, 125, 202));
    //     border-radius: 50px;

    //     &:active{
    //         background: linear-gradient(rgb(123, 182, 255),rgb(82, 145, 223));
    //     }
    // }
}

.aplayer-body,
.aplayer-fixed{
    margin-bottom: 20px !important;
    margin-bottom: 20px;
}

.aplayer-miniswitcher{
    border-radius: 0 7px 7px 0 !important;
}

.aplayer.aplayer-fixed .aplayer-body{
    border-radius: 0 7px 7px 0 !important;
}