body {
  margin: 0;
  font-family:
    'CustomFont1', 'Comic Sans MS', 'YouYuan', '幼圆', 'Yuanti SC', 'PingFang SC',
    'Microsoft YaHei', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

code,
kbd,
pre,
samp {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
