@font-face {
  font-family: 'CustomFont1';
  src: url('/generated/font-subset.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 17px;
}

body {
  margin: 0;
  font-family:
    'CustomFont1', 'Comic Sans MS', 'YouYuan', '幼圆', 'Yuanti SC', 'PingFang SC',
    'Microsoft YaHei', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

code,
kbd,
pre,
samp {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
