@import "../../styles/base.scss";

.nav{
    height: $navHeight;
    width: 100%;
    max-width: 100vw;

    transition: transform 0.3s ease;
    background-color: rgba(211, 236, 255, 0.65);
    color:black;
    transform: translateY(0);
    position: fixed;
}

.hidden-nav{
    transform: translateY(-$navHeight);
}

.nav-content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: $navHeight;
}

.click-container{
    display: flex;
    color:white;
    font-size:20px;
    transition: 0.3s;
    height: $navHeight;
    justify-content: center;
    align-items: center;
    width: 1.3*$navHeight;
    // border-radius: 5px;
    &:hover{
        background-color: rgba(86, 178, 249, 0.7);
        // transform: scale(1.1);
    }
    // text-shadow: 1px 1px 5px black;

    .nav-click-text-container{
        font-size: 15px;
        margin-left: 5px;
    }
}

.nav-tool-click-container{
    display: flex;
    color:white;
    font-size:20px;
    transition: 0.3s;
    height: $navHeight;
    justify-content: center;
    align-items: center;
    width: $navHeight;

    &:hover{
        transform: scale(1.2);
    }
}


//移动端隐藏Nav
@media screen and (max-width:$mobileMaxWidth) {
    .nav{
        transform: translateY(-$navHeight);
        transition: transform 0s ease;
    }
}