@import "../../styles/page_layout.scss";
@import "../../styles/base.scss";

.media-card-main{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    height: auto;

    .media-title{
        width: 100%;
        text-align: center;
        font-family: "CustomFont1";
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 15px;
    }

    .media-title-dark{
        @extend .media-title;
        color: $postColor-dark;
    }
    
    .media-card-main-player{
        // display: flex;
        justify-content: center;
        width: 75%;
        margin: auto;
        height: auto;
        margin-bottom: 30px;

        .aplayer{
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.3);
            max-width: 100%;

            .aplayer-lrc{
                &::after, &::before{
                    background:transparent;
                }
            }

            ol{

                &::-webkit-scrollbar-thumb{
                    background: #67abff;
                }
            }
        }
    }
    .media-card-main-player-dark{
        @extend .media-card-main-player;

        .aplayer{
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.3);
            max-width: 100%;

            .aplayer-lrc{
                &::after, &::before{
                    background:transparent;
                }
            }
        }

        .aplayer-body{
            background: transparent !important;
        }

        .aplayer-list{
            background: #262631aa;
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
        }

        ol{
            &::-webkit-scrollbar-thumb{
                background: #29b839 !important;
            }
        }

        li{
            color: $postColor-dark;

            &:hover{
                background: #ffffff44 !important;
            }
        }
        .aplayer-list-cur{
            background-color: #29b839 !important;
        }
        .aplayer-list-index,
        .aplayer-list-author{
            color: #ffffff99 !important;
        }
        .aplayer-list-light{
            background: #ffffff55 !important;
        }
        
        .aplayer-miniswitcher{
            border-radius: 0 7px 7px 0 !important;
        }
        
        .aplayer.aplayer-fixed .aplayer-body{
            border-radius: 0 7px 7px 0 !important;
        }

        .aplayer-played{
            background: #29b839 !important;

            .aplayer-thumb{
                background: #29b839 !important;
            }
        }
        .aplayer-lrc-current{
            color: $postColor-dark;
        }
        .aplayer-volume{
            background: #42cf52 !important;
        }
        .aplayer-info{
            background: #3d3d4c99;
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border-top: none !important;
        }
        .aplayer-music{
            .aplayer-title{
                color: $postColor-dark;
            }
            .aplayer-author{
                color: #ffffff99 !important;
            }
        }

        .aplayer-icon path{
            fill: #ffffffaa !important;
        }

        .aplayer-time-inner{
            color: #ffffffaa !important;
        }
    }

    .media-card-main-video{
        @extend .hv-center;
        width: 100%;
        height: 60vh;

        iframe{
            border: 0;
            width: 75%;
            height: 50vh;
        }
    }
    
    @media screen and (max-width:$mobileMaxWidth) {
        .media-card-main-player{
            width: 100%;
            margin: 0;
        }

        .media-card-main-video{
            display: flex;
            width: 100%;
            height: auto;
    
            iframe{
                border: 0;
                width: 100%;
                height: 25vh;
            }
        }
    }
}
