@import "../../styles/page_layout.scss";
@import "../../styles/base.scss";

.media-card-main{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    height: auto;

    .media-title{
        width: 100%;
        text-align: center;
        font-family: "CustomFont1";
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 15px;
    }
    
    .media-card-main-player{
        // display: flex;
        justify-content: center;
        width: 75%;
        margin: auto;
        height: auto;
        margin-bottom: 30px;

        .aplayer{
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.3);
            max-width: 100%;

            .aplayer-lrc{
                &::after, &::before{
                    background:transparent;
                }
            }

            ol{

                &::-webkit-scrollbar-thumb{
                    background: #67abff;
                }
            }
        }
    }

    .media-card-main-video{
        @extend .hv-center;
        width: 100%;
        height: 60vh;

        iframe{
            border: 0;
            width: 75%;
            height: 50vh;
        }
    }
    
    @media screen and (max-width:$mobileMaxWidth) {
        .media-card-main-player{
            width: 100%;
            margin: 0;
        }

        .media-card-main-video{
            display: flex;
            width: 100%;
            height: auto;
    
            iframe{
                border: 0;
                width: 100%;
                height: 25vh;
            }
        }
    }
}
